@import "./colors";

@import "~bootstrap/scss/bootstrap";

.healthbar {
  width: 100%;
  height: 40px;
  background-color: #eee;
  margin: auto;
  transition: width 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerTurn {
  height: 25px;
  width: 25px;
  background-color: #fc0320;
  border-radius: 50%;
  display: inline-block;
}

.monsterTurn {
  height: 25px;
  width: 25px;
  background-color: #0384fc;
  border-radius: 50%;
  display: inline-block;
}
