<template>
  <div>
    <h1>This is products details page.</h1>
    <p>Product ID: {{ $route.params.productId }}</p>
  </div>
</template>

<script>
export default {
  name: "ProductDetailsPage",
};
</script>

<style></style>
