<template>
  <div>
    <h1>This is products summary page.</h1>
    <p>Product ID: {{ $route.params.productId }}</p>
  </div>
</template>

<script>
export default {
  name: "ProductSummaryPage",
};
</script>

<style></style>
