<template>
  <div>
    <!-- <h1>{{ message }} {{ username }}</h1> -->
    <h1>{{ welcomeMessage }}</h1>
    <input v-model="name" type="text" />
    <button class="btn btn-primary" @click="updateName()">Update Name</button>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions, mapMutations } from "vuex";

export default {
  name: "StoreApp",
  data() {
    return {
      name: "emin",
    };
  },
  computed: {
    ...mapState(["username", "message"]),
    ...mapGetters(["welcomeMessage"]),
  },
  methods: {
    ...mapActions(["updateUsername"]),
    ...mapMutations(["setUsername"]),
    updateName() {
      this.setUsername(this.name);
    },
  },
};
</script>

<style></style>
