<template>
  <div>
    <h1>This is products page.</h1>
    <input v-model="productId" type="text" />
    <button class="btn btn-primary" @click="showProduct()">Show Product</button>
  </div>
</template>

<script>
export default {
  name: "ProductsPage",
  data() {
    return {
      productId: null,
    };
  },
  methods: {
    showProduct() {
      this.$router.push("/products/" + this.productId);
    },
  },
};
</script>

<style></style>
