<template>
  <div>
    <!-- <TheHeader /> -->
    <Nuxt keep-alive />
    <!-- <TheFooter /> -->
  </div>
</template>

<script>
export default {
  name: "DefaultLayout",
};
</script>

<style></style>
