<template>
  <div>
    <Cards :title="'Ali'" />
    <Cards :title="'Veli'" />
    <Cards :title="'Halil'" />
  </div>
</template>

<script>
export default {
  name: "DenemePage",
};
</script>

<style></style>
