<template>
  <div>
    <ul>
      <li v-for="person in persons" :key="person">{{ person.email }}</li>
    </ul>
    <span v-for="i in 5" :key="i">{{ i }}</span>
  </div>
</template>

<script>
export default {
  name: "Egitim5Page",
  data() {
    return {
      persons: [
        { name: "Ali", email: "ali@ktucec.com" },
        { name: "Veli", email: "veli@ktucec.com" },
        { name: "Halil", email: "halil@ktucec.com" },
      ],
    };
  },
};
</script>

<style></style>
