<template>
  <div class="container d-flex">
    <div class="mx-auto my-auto d-flex flex-column">
      <button @click="counter++">Arttır</button>
      <h3>{{ counter }}</h3>
      <span>{{ output }} || {{ result() }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "Egitim3Page",
  data() {
    return {
      counter: 0,
    };
  },
  computed: {
    output() {
      return this.counter > 10 ? "10'dan büyüktür" : "10'dan küçüktür";
    },
  },
  watch: {
    counter(value) {
      const vm = this;
      setTimeout(function () {
        vm.counter = 0;
      }, 3000);
    },
  },
  methods: {
    result() {
      return this.counter > 10 ? "10'dan büyüktür" : "10'dan küçüktür";
    },
  },
};
</script>

<style></style>
