<template>
  <div>
    <!-- <p v-if="show">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
      cupiditate, repellendus similique corporis molestiae voluptatum quasi
      obcaecati illo nostrum voluptate consectetur corrupti quas repellat hic
      dolorum quia. Odio, ullam beatae!
    </p>
    <p v-else>Hello</p>
    <button @click="show = !show">İf: Göster/Gizle</button> -->
    <p v-show="showParagraph">Merhaba</p>
    <p v-show="!showParagraph">Beni göremezsin</p>
    <button @click="showParagraph = !showParagraph">Show: Göster/Gizle</button>
  </div>
</template>

<script>
export default {
  name: "Egitim4Page",
  data() {
    return {
      show: false,
      showParagraph: false,
    };
  },
};
</script>

<style></style>
