<template>
  <div>
    <h1 v-once>{{ title }}</h1>
    <a :href="link" target="_blank">Google</a>
    <h1>{{ sayHello() }}</h1>
    <span @mousemove="updateCoordinates">{{ x }}/{{ y }}</span>
    <span @mousemove.stop>Dead Area</span>
  </div>
</template>

<script>
export default {
  name: "EgitimPage",
  data() {
    return {
      title: "Merhaba",
      link: "https://www.google.com",
      x: 0,
      y: 0,
    };
  },
  methods: {
    sayHello() {
      this.title = "Hello";
      return this.title;
    },
    updateCoordinates(event) {
      this.x = event.clientX;
      this.y = event.clientY;
    },
  },
};
</script>

<style></style>
