<template>
  <div>
    <input v-model="name" type="text" />
    <input v-model="lastName" type="text" />
    <h2>{{ name }}</h2>
    <h2>{{ lastName }}</h2>
  </div>
</template>

<script>
export default {
  name: "Egitim2Page",
  data() {
    return {
      name: "",
      lastName: "",
    };
  },
};
</script>

<style></style>
