<template>
  <div class="container">
    <div class="row my-5">
      <div class="small-6 col">
        <h1 class="text-center">YOU</h1>
        <div class="healthbar my-5 shadow">
          <div
            class="healthbar text-center"
            :style="{ width: playerHealth + '%' }"
            style="background-color: green; margin: 0; color: #fff"
          >
            {{ playerHealth }} %
          </div>
        </div>
      </div>
      <div class="small-6 col">
        <h1 class="text-center">MONSTER</h1>
        <div class="healthbar my-5 shadow">
          <div
            class="healthbar text-center"
            :style="{ width: monsterHealth + '%' }"
            style="background-color: green; margin: 0; color: #fff"
          >
            {{ monsterHealth }} %
          </div>
        </div>
      </div>
    </div>
    <div v-if="!isGameStarted" class="d-flex my-5 p-5">
      <div class="small-12 mx-auto">
        <button
          id="start-game"
          class="btn btn-primary border border-1 shadow text-white"
          @click="startGame()"
        >
          NEW GAME
        </button>
      </div>
    </div>
    <div v-if="isGameStarted" class="row my-5 p-5">
      <div class="col-3">
        <button
          class="btn btn-danger border border-1 shadow"
          @click="defaultAttack()"
        >
          Attack
        </button>
      </div>
      <div class="col-3">
        <button
          class="btn btn-warning border border-1 shadow"
          @click="specialAttack()"
        >
          Special Attack
        </button>
      </div>
      <div class="col-3">
        <button class="btn btn-success border border-1 shadow" @click="heal()">
          Heal
        </button>
      </div>
      <div class="col-3">
        <button
          class="btn btn-transparent border border-1 shadow"
          @click="surrender()"
        >
          Surrender
        </button>
      </div>
    </div>
    <div v-if="isGameStarted" class="my-5 p-5">
      <button
        v-show="!openLogs"
        v-if="logs.length > 0"
        class="btn btn-secondary shadow"
        @click="openLogs = true"
      >
        Show Logs
      </button>
      <button
        v-show="openLogs"
        v-if="logs.length > 0"
        class="btn btn-secondary shadow"
        @click="openLogs = false"
      >
        Hide Logs
      </button>
      <div v-if="openLogs" class="row">
        <div class="col">
          <ul>
            <li
              v-for="log in logs"
              :key="log"
              class="d-flex align-items-center my-2"
            >
              <span
                :class="log.turn == 'y' ? 'playerTurn' : 'monsterTurn'"
                class="me-2"
              ></span>
              {{ log.text }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "IndexPage",
  data() {
    return {
      isGameStarted: false,
      playerHealth: 100,
      monsterHealth: 100,
      openLogs: false,
      logs: [],
    };
  },
  watch: {
    playerHealth(value) {
      if (value <= 0) {
        this.playerHealth = 0;
        if (confirm("You lose! Do you want to play again?")) {
          this.playerHealth = 100;
          this.monsterHealth = 100;
          this.logs = [];
        }
      } else if (value >= 100) {
        this.playerHealth = 100;
      }
    },
    monsterHealth(value) {
      if (value <= 0) {
        this.monsterHealth = 0;
        if (confirm("You won! Do you want to play again?")) {
          this.playerHealth = 100;
          this.monsterHealth = 100;
          this.logs = [];
        }
      }
    },
  },
  methods: {
    startGame() {
      this.isGameStarted = true;
    },
    defaultAttack() {
      const attack = Math.ceil(Math.random() * 10);
      this.monsterHealth -= attack;
      this.addLog({ turn: "y", text: "Player Attack (" + attack + ")" });
      this.monsterAttack();
    },
    specialAttack() {
      const attack = Math.ceil(Math.random() * 25);
      this.monsterHealth -= attack;
      this.addLog({
        turn: "y",
        text: "Player Special Attack (" + attack + ")",
      });
      this.monsterAttack();
    },
    heal() {
      const heal = Math.ceil(Math.random() * 20);
      this.playerHealth += heal;
      this.addLog({ turn: "y", text: "Player Heal (" + heal + ")" });
      this.monsterAttack();
    },
    surrender() {
      this.playerHealth = 0;
      this.addLog({ turn: "y", text: "Player Surrendered" });
    },
    monsterAttack() {
      const attack = Math.ceil(Math.random() * 30);
      this.playerHealth -= attack;
      this.addLog({ turn: "m", text: "Monster Attack (" + attack + ")" });
    },
    addLog(log) {
      this.logs.push(log);
    },
  },
};
</script>
